// Palette from background photo
$light-slate-gray: #a8a2b1;
$light-slate-gray-2: #9896a8;
$beige-light: #f3e1d9;
$beige: #edd0c9;
$rosy: #fe8e8e;

// Bulma customization variables
// See reference:  https://bulma.io/documentation/customize/variables/
// General reference: https://bulma.io/documentation/
$primary: $rosy;


